<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="PublicCanteen.Properties.Settings.PublicCanteenConnectionString" connectionString="Data Source=DESKTOP-GOETTJF;Initial Catalog=PublicCanteen;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />
<add name="Entities" connectionString="metadata=res://*/DB.ModelDB.csdl|res://*/DB.ModelDB.ssdl|res://*/DB.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADSS\SQLEXPRESS;initial catalog=PublicCanteen;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="Entitiess" connectionString="metadata=res://*/DB.Model1.csdl|res://*/DB.Model1.ssdl|res://*/DB.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-U8PDE5H\SQLEXPRESS;initial catalog=PublicCanteen;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>